export DB_HOST=hostname
export CONNECT_FROM_HOST=%
export ADMIN_USER=root
export ADMIN_PASSWORD=secret
export MAIL_USER=mail@example.com
export MAIL_PASSWORD=secret

# This controls the debugging
#export NODE_DEBUG=debugtest,debugmysql,debugleveldb,debugodata,debugmain
export NODE_DEBUG=debugodata,debugmysql,debugmain
#
